@charset "utf-8";
/* CSS Document */


#container {
	width: 580px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #FF9;
}
#resim {
	width:400px;
	margin-left:auto;
	margin-right:auto;
}
#resim img{
	width:400px;
	height:300px;
	margin-left:auto;
	margin-right:auto;	
}
#kresim{
	width:558px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;	
}
#kresim img{
	margin:2px;
	width:100px;
	height:75px;
	border:2px;	
}
